.header {
    background-color: var(--accent-color);
    padding: 5px;
}

.header__title,
.header__logo {
    font-size: 3.5rem;
    font-weight: bold;
    text-transform: uppercase;
    text-align: center;
}

.header__menu {
    flex-direction: column;
    display: flex;
}

.header__menu .menu__item {
    text-decoration: none;
    color: var(--main-color);
}

.header__menu .menu__item:hover {
    text-decoration: underline;
}

@media (min-width: 500px) {
    .header__nav {
        display: flex;
    }
    .header__menu {
        flex-direction: row;
        align-items: center;
        justify-content: space-around;
        flex: 1;
    }
}

.header__banner {
    align-items: center;
    background: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)),
        url(../img/baby-yoda.svg);
    background-size: cover;
    /* background-attachment: fixed; */
    background-position: 50% 50%;
    display: flex;
    min-height: 500px;
    justify-content: center;
    flex-direction: column;
}