.header {
    background-color: var(--accent-color);
    padding: 5px;
}

.header-banner__h1,
.header-nav__logo {
    font-size: 3.5rem;
    font-weight: bold;
    text-transform: uppercase;
    text-align: center;
}

.header-nav__menu {
    display: flex;
    flex-direction: column;
}

.header-nav__menu a {
    color: var(--main-color);
    text-decoration: none;
}

.header-nav__menu a:hover {
    text-decoration: underline;
}

@media (min-width: 500px) {
    .header-nav {
        display: flex;
    }

    .header-nav__menu {
        flex-direction: row;
        align-items: center;
        justify-content: space-around;
        flex: 1;
    }
}

.header-banner {
    background: linear-gradient( rgba(0,0,0,0.5),  rgba(0,0,0,0.5) ), url(../img/baby-yoda.svg);
    background-size: cover;
    background-position: 50% 50%;
    min-height: 500px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.header-banner__h1 {
    color: var(--accent-color);
}