.product-card {
    border: 1px solid var(--button-border-color);
    padding: 5px;
}

@media (min-width: 600px) {

    .products__list {
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 5px;
    }
    
}

@media (min-width: 900px) {

    .products__list {
        grid-template-columns: repeat(3, 1fr);
    }
    
}

@media (min-width: 1200px) {

    .products__list {
        grid-template-columns: repeat(4, 1fr);
    }
    
}